<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid px-5">

    <!-- Collapsible wrapper -->
    <div class="" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand my-auto fw-bold" href="/">
        <span class="text-primary">Net</span>Work
      </a>
    </div>
    <!-- Collapsible wrapper -->
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-4 my-auto fs-6">
        <li class="nav-item">
          {{#if user}}
            {{#if user.admin}}
              <a class="nav-link" href="/admin/dashboard">Dashboard</a>
            {{else}}
              <a class="nav-link" href="/">Home</a>
            {{/if}}
          {{else}}
            <a class="nav-link" href="/signup">Signup</a>
          {{/if}}
        </li>
      </ul>

      <!-- Avatar -->
      {{#if user}}
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <div
              class="rounded-circle d-flex align-items-center justify-content-center"
              style="width: 40px; height: 40px; background-color:rgb(223, 223, 223);"
            >
              <h1
                class="text-primary text-center align-middle m-0 p-0"
                style="font-size: 20px;"
              >{{avatar user.name}}</h1>
            </div>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="/profile">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      {{else}}
        <a class="nav-link" href="/login">Login</a>
      {{/if}}
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->