<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid px-5">

    <!-- Collapsible wrapper -->
    <div class="" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand my-auto fw-bold" href="/">
        <span class="text-primary">Net</span>Work
      </a>
    </div>
    <!-- Collapsible wrapper -->
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-4 my-auto fs-6">
        <li class="nav-item">
          {{#if admin}}
            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
          {{else}}
            <a class="nav-link" href="/">Home</a>
          {{/if}}
        </li>
      </ul>
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="40"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->