<section>
  <div
    class="d-flex justify-content-center align-items-center flex-column"
    style="height: 90vh;"
  >
    <h3>404 <span class="fs-1 fw-lighter">|</span> Not Found</h3>
    <p>Go back to <a class="fw-bold" href="/">Home</a></p>
  </div>
</section>